body {

    background-color: #f7f7f7;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 16px;
    min-width: 700px;
    
}

.banner {
    background-color: rgb(255, 255, 255);
    color: rgb(37, 37, 37);
    border-radius: 8px;
    padding: 24px 24px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    font-family: Roboto;
    border-width: 1px;
    border-color:rgb(206, 212, 218);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
   
    position: sticky;
    top: 10px;
    backdrop-filter: blur(8px); /* blur effect */
    -webkit-backdrop-filter: blur(8px); /* for Safari */
    background-color: rgba(255, 255, 255, 0.7); /* translucent so blur is visible */
    z-index: 1000; /* stay above content */

}

.internal-link, .external-link {
    /* font-family: "Roboto Flex"; */
    display: flex;
    color:black;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.15s;
}

.internal-link:hover {
    text-decoration: underline;

}

.huggingface-link:hover {

    color: #FF9E00;
}

.linkedin-link:hover {

    color: #0A66C2;
}

.github-link:hover {

    color: #76278B;
}
.nav-links {
    display: flex;
    gap: 16px;
    color: black;
    flex-wrap: wrap;


}

.name {
    display: flex;
    color: black;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 350;
    text-decoration: none;
    transition: color 0.15s;
}

.name:hover {
    color: rgb(100, 149, 255);
}

.article-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-title {
    font-family: "Roboto Flex";
    font-size: 30px;
    font-weight: 700;
    /* margin-bottom: 15px; */
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-color: #9a9a9a;
}

.article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: #9a9a9a;
    padding-bottom: 5px;
    padding-top: 5px;
    gap: 40px;
    margin-bottom: 25px;

}

.project-github-link, .project-hf-link, .project-arxiv-link {
    /* margin-top: 7px; */
    display: flex;
    gap: 8px;
    align-items: center;
    
}

.github-logo, .hf-logo, .arxiv-logo {
    height: 16px;
    }
    
    .project-github, .project-hf, .project-arxiv {
    
        font-family: "Roboto Flex";
        font-weight: 300;
        font-size: 14px;
        color: gray;
        text-decoration: none;
        transition: color 0.15s;
    }
    
    .project-github:hover {
        color: #76278B;
        cursor: pointer;
    }
    
    .project-hf:hover {
        color: #FF9E00;
        cursor: pointer;
    
    }
    
    .project-arxiv:hover {
        color: rgb(185, 50, 50);
        cursor: pointer;
    
    }
    

.article-authors {
    font-family: "Roboto Flex";
    font-size: 14px;
    font-weight: 300;
    flex: 1
    /* margin-bottom: 10px; */
}

.article-date {
    font-family: "Roboto Flex";
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    /* margin-bottom: 10px; */

}
.article-read-time {
    font-family: "Roboto Flex";
    font-size: 14px;
    font-weight: 300;
    /* margin-bottom: 15px; */
    color:#8d1f1f
}

.article-thumbnail {
    /* padding-left:69; */
    /* padding-right: 69; */
    text-align: center;
    margin-bottom:20px;
    
}
.article-thumbnail img {
    width: 700px;
}

p {
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 350;
    line-height: 25px;
}

.article-section-title {
    font-family: "Roboto Flex";
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    text-decoration-color:#ffe32e;
}

.article-subsection-title {
    font-family: "Roboto Flex";
    font-size: 18px;
    font-weight: 500;
}

.article-hyperlink {
    text-decoration: none;
    color:#2b81d8;
}

strong {
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 600;
    
}


.see-figure {
    font-family: "Roboto Flex";
    font-size:16px;
    font-weight: 400;
    color: rgb(109, 100, 100);
    cursor: pointer;
}

figure {
    display: block;
    margin:auto;
}

figure img {
    border-radius: 10px;
    /* padding: 10px; */
}
figcaption {
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 400;
    color:#5b5b5b;
    text-align: center;
}

.article-figure {
    text-align: center;
    margin-bottom: 20px;
}

.horizontal-line-light {
    border: none;
    height: 1px;
    background: gray;
  
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-family: "Roboto Flex";
    font-weight: 350;
}
th {
    font-weight: 700;
}
th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
table {
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

ul, li {
    font-family: "Roboto Flex";
    font-weight: 350;

}

.table-container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    overflow-x: auto;
}

.article-affiliation {
    
    display: flex;
    align-items: center;
    gap: 12px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

.article-aff-logo img {
    width: 25px;
}

.article-aff {
    margin: 0;
 
    color: rgb(0, 0, 0);
    font-family: "Roboto Flex";
    font-size: 15px;
    font-weight: 300;
}

pre {
    border-radius: 10px;
    padding: 1rem;
    overflow-x: auto;
    margin: 1.5rem 0;
    /* background-color: #2d2d2d; */
  }

code.objs {
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
    background-color:#e4e4e4;
    padding-left: 3.5px;
    padding-right: 3.5px;
    border-radius: 3px;


}

code language-python {
    font-family: 'Fira Code', monospace;
    font-size: 0.95rem;
  }





.footer {
    margin-top: 40px;
    font-family: "Roboto Flex";
    color: rgb(26, 26, 26);
    /* margin-top: 30px; */
    font-size: 11px;
    background-color: #ffe32e;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    justify-content: center;
    padding: auto;

}

.footer-text {
    text-align: center;
    margin-bottom: 10px;
}
.contact-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-github img, .footer-linkedin img, .footer-hf img {
    height: 18px;
}

.footer-github, .footer-hf, .footer-linkedin {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.25s;
}

.footer-github:hover, .footer-hf:hover, .footer-linkedin:hover {
    cursor: pointer;
    background-color: #ecd123;

}