


body {

    background-color: #f7f7f7;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 16px;
    min-width: 700px;
    
}



.banner {
    /* background-color: rgb(255, 255, 255); */
    color: rgb(37, 37, 37);
    border-radius: 8px;
    padding: 24px 24px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    font-family: Roboto;
    border-width: 1px;
    border-color:rgb(206, 212, 218);
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    position: sticky;
    top: 10px;
    backdrop-filter: blur(8px); /* blur effect */
    -webkit-backdrop-filter: blur(8px); /* for Safari */
    background-color: rgba(255, 255, 255, 0.7); /* translucent so blur is visible */
    z-index: 1000; /* stay above content */

}

.internal-link, .external-link {
    /* font-family: "Roboto Flex"; */
    display: flex;
    color:black;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.15s;
}

.internal-link:hover {
    text-decoration: underline;

}



.huggingface-link:hover {

    color: #FF9E00;
}

.linkedin-link:hover {

    color: #0A66C2;
}

.github-link:hover {

    color: #76278B;
}
.nav-links {
    display: flex;
    gap: 16px;
    color: black;
    flex-wrap: wrap;


}

.name {
    display: flex;
    color: black;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 350;
    text-decoration: none;
    transition: color 0.15s;
}

.name:hover {
    color: rgb(100, 149, 255);
}



.about-section {
    display: flex;
    width: 100%;
    justify-content:center; /* or center, depending on layout */
    max-width: 1200px;     /* You can adjust this width */
    /* width: 100%; */
    gap: 2rem;   
    /* background-color: #0A66C2; */
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px;
    margin-top: 30px;
/*     
    align-items: top;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    border-color: #777; */

}

.about-section-text-layout {
    flex: 1;
    max-width: 300px;
    /* background-color: #76278B; */
}

.about-section-image-layout {
    flex: none;
    /* background-color: #FF9E00; */
}

.hi {
    width: 300px;
}

.hi-text {
    font-family: "Roboto Flex";
    
}

.about-section-image-layout img{
    width: 300px;
    border-radius: 10px;
    display:block;

}

h1 {
    font-family: "Roboto Flex";
    border-bottom: 6px solid;
    border-color:  #ffe32e;
    margin-top: 0px;
    color: black;


}

h2 {
    font-family: "Roboto Flex";
    border-bottom: 6px solid;
    border-color:  #ffe32e;
    margin-top: 0px;
    color: black;
    font-size: 28px;
    margin-bottom: 0px;

}
/* .section-title {

    display: block;
    font-family: "Roboto Flex";
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: normal;
    color: #767676;

} */

.section-global {
    color: rgb(37, 37, 37);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}


.profile-pic {
    width: 100%;
    border-radius: 5px;
    margin-left: 4px;
    /* vertical-align: top; */
}

.profile-pic-div {
    width: 150px;

    /* display: inline-block; */
    /* vertical-align: top; */
}

.description {
    /* width:100%; */
    flex-wrap: wrap;
    flex: 1;
    color: #333;
    font-family: "Roboto Flex";
    font-size: 14px;
    /* display: inline-block; */
    /* vertical-align: top; */
    
}

.section-title.affiliations {
    width: 140px;
    padding-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}

.section-title.latest-article {
    width: 173px;
    padding-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 20px;
}



.affiliations {
    display: block;
    padding-top: 20px;
    /* border-bottom: 1px solid; */
    border-color: #777;
    padding-bottom: 30px;
    /* margin-left: 180px; */
    /* margin-right: 180px; */
}

.affiliation-name {
    font-family: "Roboto Flex";
    font-size: 32px;
    /* margin-bottom: 32px; */
    color: #333;
    /* font-family: Roboto, sans-serif; */
}

.affiliations-container {
    margin-top: 10px;
    display: flex;
    /* justify-content: center; */
    gap: 30px;
    flex-wrap: wrap; /* Wrap on smaller screens */
    flex-direction: row;
}

.affiliation-card {
    background-color: white;
    border-color:rgb(206, 212, 218);
    color: black;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* width: 388px; */
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
    transition:  box-shadow 0.25s, opacity 0.25s, border-color 0.25s;
}



.affiliation-card:hover {
    opacity: 0.8;
    cursor: pointer;
    border-color: #ecd123;
    box-shadow: 0 2px 6px rgba(254, 202, 31, 0.1);

}

.affiliation-card:active {
    opacity: 1;
    cursor: pointer;

}
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 12px; */
    /* margin-bottom: 1px; */
}

.affiliation-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.affiliation-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.affiliation-description {
    font-family: "Roboto Flex";
    /* display: flex; */
    font-size: 14px;
    color: #000000;
    /* margin-bottom: 20px; */
    text-align: center;
}

.affiliation-dates {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    text-align: center;
    font-family: "Roboto Flex";
    /* margin-top: auto; */
}


.latest-article-section {
    display: block;
    padding-top: 30px;
    /* border-bottom: 1px solid; */
    border-color: #777;
    padding-bottom: 30px;
}

.latest-article-section-title{
    font-family: "Roboto Flex";
    font-size: 22px;
    font-weight: bold;
    border-left: 2px solid;
    /* border-top: 2px solid; */
    /* border-top: 150px; */
    border-color: #ffe32e;
    /* background-color: #ffe32e; */
    border-radius: 3px;

    /* border-top-left-radius: 7px; */
    
    padding-left: 10px;
    margin-bottom: 20px;
}

.latest-article-card {
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color:rgb(206, 212, 218);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    display:flex;
    /* align-items: auto; */
    transition: box-shadow 0.15s, border-color 0.15s;


}

.latest-article-card:hover {
    cursor: pointer;
    border-color: #ecd123;
    box-shadow: 0 2px 6px rgba(254, 202, 31, 0.1);

}

.latest-article-card-left {
    padding-right: 14px;

}

.latest-article-title {
    font-family: "Roboto Flex";
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
}



.latest-article-affiliation {
    display: flex;
    align-items: center; /* vertical centering */
    gap: 10px; /* optional: spacing between logo and text */
}

.latest-article-aff-logo img {
    width: 30px; /* adjust as needed */
    height: 30px;
}

.latest-article-aff {
    margin: 0;
    font-family: "Roboto Flex";
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 400;
    color: rgb(90, 89, 89);

}

.latest-article-date {

    margin-top:35px;
    margin-bottom:0px;
    color: gray;
    font-family: "Roboto Flex";
    font-size: 12px;
    font-weight: 300;
}

.latest-article-text {
    margin-top: 20px;
    margin-bottom:10px;
    font-family: "Roboto Flex";
    font-size: 13px;
    font-weight: 350;
    
}

.read-more-latest-article {
    font-family: "Roboto Flex";
    font-weight: 600;
    color: rgb(57, 89, 219)
}


.latest-article-img {
    width: 180px;
    border-radius: 10px;
    margin-top: 5px;
    /* margin-bottom:5px; */

}








.footer {
    font-family: "Roboto Flex";
    color: rgb(26, 26, 26);
    /* margin-top: 30px; */
    font-size: 11px;
    background-color: #ffe32e;
    padding-bottom: 30px;
    padding-top: 30px;
    display: block;
    justify-content: center;
    padding: auto;

}

.footer-text {
    text-align: center;
    margin-bottom: 10px;
}
.contact-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-github img, .footer-linkedin img, .footer-hf img {
    height: 18px;
}

.footer-github, .footer-hf, .footer-linkedin {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.25s;
}

.footer-github:hover, .footer-hf:hover, .footer-linkedin:hover {
    cursor: pointer;
    background-color: #ecd123;

}